
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        {{quiz.name}}
      </mat-card-subtitle>
      <mat-card-title>
        Frage Nr. {{c.id}} :
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- TODO: Counter einbauen + Ende des Quizzes -->

      <div class="row">
        <h3>
          {{c.value}}
        </h3>
      </div>
      <div class="row">
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Antwort" [formControl]="answerField"></textarea>
        </mat-form-field>
      </div>

      <div class="row">
        <button [disabled]="!answerField.valid" mat-raised-button color="primary" (click)="check()">
          <mat-label>
            Überprüfen
          </mat-label>
        </button>

        <button  class="rightButton" [disabled]="!nextQuestion" mat-raised-button color="primary" (click)="displayQuestion()">
          <mat-label>
            Nächste Frage
          </mat-label>
        </button>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<!--pre style="color: azure">{{quiz | json}}</pre-->
