<app-header></app-header>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Optionen:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary">
        <mat-label>
          Ein neues Quiz anlegen
        </mat-label>
      </button>
      <button mat-raised-button color="primary" class="float-right">
        <mat-label>
          Ein vorhandenes Quiz starten
        </mat-label>
      </button>
    </mat-card-content>
  </mat-card>
</div>

<app-footer></app-footer>
