
<div class="container">
  <div class="container">
    <mat-card class="points">
      <mat-card-content>
        <p>Deine Punkte: {{points}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="mainCard">
    <mat-card-header>
      <mat-card-subtitle>
        {{service.Quiz.name}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <p><b>{{question.value}}</b></p>
      </div>


      <!-- ------------------------------------- -->

        <div class="row" *ngIf="isOpen() else Elseblock">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Antwort" [formControl]="answerField"></textarea>
          </mat-form-field>
        </div>

      <!-- ------------------------------------- -->

      <ng-template #Elseblock>

        <div class="row">
          <div *ngFor="let answer of question.answer">
            <section class="example-section">
              <mat-checkbox [(ngModel)]="answerField[answer.id]" checked class="example-margin">
                {{answer.value}}
              </mat-checkbox>
            </section>
          </div>
        </div>

      </ng-template>

      <!-- ------------------------------------- -->


      <div class="row">
        <button [disabled]="!answerField.valid && isOpen()" mat-raised-button color="primary" (click)="check()">
          <mat-label>
            Überprüfen
          </mat-label>
        </button>

        <button  class="rightButton" [disabled]="!nextQuestion" mat-raised-button color="primary" (click)="displayQuestion(); answerField.reset()">
          <mat-label>
            Nächste Frage
          </mat-label>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<!--pre style="color: azure">{{quiz | json}}</pre-->
