
.example-viewport
  height: 400px
  width: 100%
  border-bottom: 1px solid #303030

.answer
  font-size: 15px
  color: greenyellow

.plus
  color: forestgreen

.right
  color: forestgreen

.false
  color: red

