
<h1 mat-dialog-title>Quiz-Übersicht für {{service.Quiz.name}}</h1>
<div mat-dialog-content>
  <div class="container">
    <button title="Quiz löschen" class="float-right" mat-raised-button color="warn" (click)="openDeleteQuiz()">
      <i class="material-icons">delete</i>
    </button>
    <button title="Neue Frage" class="float-right" mat-raised-button color="accent" (click)="openCreateQuestion()">
      <i class="material-icons plus">add_box</i>
    </button>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

      <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate"
        *ngIf="service.spinner else Elseblock">
      </mat-progress-spinner>

      <ng-template #Elseblock class="list-group">
        <div *ngFor="let question of service.Quiz.question" >
          <div id="{{question.id}}" class="hand"
               (mouseover)="changeCol(question.id)"
               (mouseout)="changeBack(question.id)"
               (click)="openEditQuestion(question)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            Frage {{question.id}}: {{question.value}}
          </h5>
          <small>{{question.questionType.type}}</small>
        </div>
          <div *ngFor="let answer of question.answer">
            <p class="mb-1 answer">
              Antwort: {{answer.value}}
            </p>
            <div *ngIf="answer.outcome.type else elseblock">
              <small class="right" >
                ({{answer.outcome.type ? 'Wahr' : 'Falsch'}})
              </small>
            </div>
            <ng-template #elseblock>
              <small class="false">
                ({{answer.outcome.type ? 'Wahr' : 'Falsch'}})
              </small>
            </ng-template>
          </div>
          </div>
        </div>
      </ng-template>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Schließen</button>
</div>

